<h1>Listing messages</h1>

<table>
  <thead>
    <tr>
      <th>Listing</th>
      <th>To username</th>
      <th>From username</th>
      <th>Message</th>
      <th>Type</th>
      <th>Viewed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.listing %></td>
        <td><%= message.to_username %></td>
        <td><%= message.from_username %></td>
        <td><%= message.message %></td>
        <td><%= message.type %></td>
        <td><%= message.viewed %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
