<% placeholder = "Enter a city" %>
<div id="container">
  <div id="contentDiv">
    <form action="" id="searchForm" name="searchForm" onsubmit="/search">
      <input type="text" id="searchBox" name="city" class="barInitial" placeholder= "<%= @city.nil? ? 'Enter a city' : @city %>" >
      <input type="button" id="searchButton">
    </form>
    <%if @listings then %>
	    <% @listings.each do |listing|%>
	      <%= div_for listing, :class => "result" do %>
		    <div class="content">
		      <h3 class="title">
		        <a href="" style="">: <%= listing.title %></a>
		      </h3>
		      <p class="listingInfo">Height: <%= listing.height %></p>
		      <p class="listingInfo">Width: <%= listing.width %></p>
		      <p class="listingInfo">Time per view: <%= listing.time_per_click %></p>
		      <p class="listingInfo">Views per week: <%= listing.views_per_week %></p>
		      <p class="listingInfo">Cost per week: <%= listing.cost_per_week %></p>
		      <p class="listingInfo">Address: <%= "#{listing.street} #{listing.city}, #{listing.state} #{listing.zip}" %></p>
		    </div>
	      <% end %>
	   <% end %>
	<% end %>
  </div>
</div>
