<!--Written by Jessica-->

<div class="container">

   <div class="owner-dashboard-listings-outer">
    <%if @current_listings then %>

      <% @current_listings.each do |listing|%>
        <%= div_for listing, :class => "result location#{listing.id}" do %>
        <div class="owner-dashboard-listings-inner">
          <h3 class="title">
            <a href="/listings/show?listing_id=<%=listing.id%>" style=""><%= listing.title %></a>
          </h3>
            <%if listing.street.present? and listing.city.present? and listing.state.present? and listing.zip.present? then %>
             <p class="listingInfo">Address: <%= "#{listing.street}, #{listing.city}, #{listing.state} #{listing.zip}" %></p>
          <%else%>
             <p class="listingInfo">GPS Coordinate: <%= "#{listing.latitude}, #{listing.longitude}" %></p>
            <%end%>
         </div>
        <% end %>
     <% end %>
  <% end %>
  </div>
</div>
