<!--Written by Jessica Wong-->

<div id="dashboard">
  <div id="messages">
         <h1 align="center">Messages</h1>
         <form class="form-horizontal col-lg-8 col-lg-offset-2">
            <label for="title">New Messages</label> 
            <div class="form-group" style="overflow-y: scroll; height: 300px; border: 1px solid;">
               <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                     <tbody>
                        <% @messages.each do |message|%>
                           <% if not message.viewed then %>
                              <tr onclick="send_message('<%=message.listing_title%>', '<%=message.text%>', '<%=message.from_username%>')">
                                 <td class="listinfo"><%=message.listing_title%></td>
                                 <td class="listinfo"><%=message.text%></td>
                              </tr>
                           <% end %>
                        <% end %>
                     </tbody>
                  </table>
               </div>
            </div>
            <label for="title">Viewed Messages</label> 
            <div class="form-group" style="overflow-y: scroll; height: 300px; border: 2px solid;">
               <% @messages.each do |message|%>
               <% if message.viewed then %>
               <h3> <%= message.text %> <%= message.viewed %> </h3>
               <% end %>
               <% end %>
            </div>
         </form>
   </div>
   <div id="listings">
   <h1 align="center">Current Listings</h1>
    <%if @current_listings then %>
	    <% @current_listings.each do |listing|%>
	      <%= div_for listing, :class => "col-lg-4 result location#{listing.id}" do %>
		    <div class="content">
            <a href="/listings/show?listing_id=<%=listing.id%>">
		         <div class="content" style="background-color: #d3d3d3; height: 200px;"><%= image_tag listing.image.url(:thumb) %></div>
            </a>
            <h4>
		        <a href="/listings/show?listing_id=<%=listing.id%>"><%= listing.title %></a>
		      </h4>
            <%if listing.street.present? and listing.city.present? and listing.state.present? and listing.zip.present? then %>
		         <p><%= "#{listing.street}, #{listing.city}, #{listing.state} #{listing.zip}" %></p>
		      <%else%>
		         <p><%= "#{sprintf('%.2f', listing.latitude)}, #{sprintf('%.2f', listing.longitude)}" %></p>
            <%end%>
         </div>
	      <% end %>
	   <% end %>
	<% end %>
  </div>
</div>

<div class="modal" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal" aria-hidden="true">
  <div class="modal-dialog" style="width:600px !important" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Send Message</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="alert in" id="message-error" style="display:none;">
                 Invalid message!
            </div>
            <div class="success in" id="message-success" style="display:none;">
                 Successful message!
            </div>
            <p><label>Message</label><textarea class="message_area" id="message" style="width:500px; resize: vertical; color:#000000"></textarea></p>
            <p><button id="send">Send</button></p>
        </form>
      </div>
    </div>
  </div>
</div>
