<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<br>
<br>
<div class = "container">
<p>
  <strong>Username:</strong>
  <%= @advertiser.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @advertiser.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @advertiser.company %>
</p>

<p>
  <strong>Usertype:</strong>
  <%= @advertiser.usertype %>
</p>
<a id = "create_a" class = "create_a">Create an Owner Account</a></div>
<%= link_to 'Edit Account', edit_owner_path(@advertiser) %> |

<script>

// Click signup button
$('#create_a').click(function() {

$.ajax({
       //First send a post request, get the response back. On successful message back, check the data
       url: "" + window.location.protocol + '//' + window.location.host + "/api/create_user",
       type: "POST",
       data: JSON.stringify({username: $('#username-signup').val(), password: $('#password-signup').val(), email: $('#email-signup').val(), company: $('#company-signup').val() }),
       contentType: "application/json",
       dataType: "json",
       success: function(data){
         signupSuccess(data);
       },
       failure: function(errorMsg) {
         failure(data);
       }
    });
})
</script>
