<!DOCTYPE html>
<!--Written by: Jhoong Roh, Sukriti Singal -->
<!DOCTYPE html>
<div class="create_advertisement">  
   <h2 class="textField" id="titlePage">Create Your Advertisment</h2>
   <%= form_for @advertisement, remote: true, url: {action: "createAd"}, html: {class: "form-horizontal col-lg-8 col-lg-offset-2"}, method: "post" do |f| %>
      <% if @advertisementStatus and @advertisementStatus < 0 %>
         <p>Something you inputted was wrong - please try again</p>
      <% end %>
        <div class="form-elements">
        <div class="alignLine">
          <div class="form-group">
              <%= f.text_field :title, class: "form-control", placeholder: "Enter Title" %>
          </div>
        </div>
        <div class="heightWidthDiv">
          <div class="form-group info">
             <div class="form-inline">
                 <div class="form-group">
                   <%= f.text_field :height, class: "form-control", id: "heightField" , placeholder: "Enter Height"%>
                </div>
                <div class="form-group">
                   <%= f.text_field :width, class: "form-control", id: "widthField", placeholder: "Enter Width"%>
                </div>
             </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.text_area :description, class: "form-control", placeholder: "Enter more information" %>
          <div id="AdField" class="textField">
            <%= f.label :ad %>
          <div>
          <%= f.file_field :ad, accept: 'image/png,image/gif,image/jpeg' %>
          <%= f.submit 'Create ad', id:"submit", style: "display:none", class: "btn btn-default submit" %> 
          <div id="createAdBtnDiv">
            <button class="btn btn-default" id="hidden_submit" style="display:show" type="submit">Create Advertisment</button>
          <div>
        </div>
      </div>
   <% end %>
</div>

<script type="text/javascript">
   $(document).ready(function() {
      $('#advertisement_ad').change(function() {
         $('#submit').attr('style','display:show');
         $('#hidden_submit').attr('style','display:none');
      });
      
       $('#hidden_submit').click(function(e) {
          e.preventDefault();
          adTitle = $('#advertisement_title').val();
          adHeight = $('#advertisement_height').val();
          adWidth = $('#advertisement_width').val();
          adDescription = $('#advertisement_description').val();
          $.ajax({
              type: 'POST',
              url: window.location.protocol + '//' + window.location.host + "/api/create_ad/",
              data: JSON.stringify({ title: adTitle, height: adHeight, width: adWidth, description: adDescription }),
              contentType: "application/json",
              dataType: "json",
              success: function(data) {
                handle_response(data)
              },
              failure: function(data) { alert("Failure"); }
            });
       });

      function handle_response(data) {
        if(data['status'] > 0){
          window.location.href = window.location.protocol + '//' + window.location.host + "/advertiser_dashboard";
        }
        else{
          handle_error(data);
        }
      }

      function handle_error(data){
        response = data['status']
        if(response == -1){
          alert("Error, malformed title")
        }
        else if (response == -2){
          alert("Error, malformed height")
        }
        else if (response == -3){
          alert("Error, malformed width")
        }
        else if (response == -4){
          alert("Error, you must sign in or create an account ")
        }
        else{
          alert("An error occured while trying to create your ad, please try again.")
        }
      }
    })
</script>
<script src=
   "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  <script src=
   "http://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
