<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @advertisement.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advertisement.description %>
</p>

<p>
  <strong>Screen resolution x:</strong>
  <%= @advertisement.screen_resolution_x %>
</p>

<p>
  <strong>Screen resolution y:</strong>
  <%= @advertisement.screen_resolution_y %>
</p>

<p>
  <strong>Advertiser:</strong>
  <%= @advertisement.advertiser %>
</p>

<p>
  <strong>Advertisement url:</strong>
  <%= @advertisement.advertisement_url %>
</p>

<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisements_path %>
